<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ur_description)/world/empty_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_ur)/rviz/config.rviz" />
    <group ns="robot1">
      <include file="$(find ur_description)/launch/ur5_upload_with_prefix.launch">
	<arg name="prefix" value="robot1"/>
      </include>
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model robot1 -param robot_description -z 0.05"/>

      <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>
      <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5_position_robot1.yaml" command="load"/>
      <node name="arm_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="shoulder_pan_joint
              shoulder_lift_joint
              elbow_joint
              wrist_1_joint
              wrist_2_joint
              wrist_3_joint" />

    <node pkg="ur_teleop" type="ur_teleop_position_keyboard" name="ur_teleop_position_keyboard" launch-prefix="xterm -e">
        <!--<param name="robot_ns" type="string" value="robot1"/>-->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="world2rb1"
        args="0 0 0 0 0 0 world robot1base_link 100" />    

    </group>

    
 
    <group ns="robot2">
      <include file="$(find ur_description)/launch/ur5_upload_with_prefix.launch">
	<arg name="prefix" value="robot2"/>
      </include>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model robot2 -param robot_description -x 2 -z 0.05"/> 
      <node pkg="tf" type="static_transform_publisher" name="world2rb2"
        args="2 0 0 0 0 0 world robot2base_link 100" />    
    </group>


<group ns="robot">
<include file="$(find ur_description)/launch/ur5_upload_with_prefix.launch">
	<arg name="prefix" value="robot"/>
</include>
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model robot -param robot_description -y 2 -z 0.05"/>
      <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>
      <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5_position_robot.yaml" command="load"/>
      <node name="arm_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="shoulder_pan_joint
              shoulder_lift_joint
              elbow_joint
              wrist_1_joint
              wrist_2_joint
              wrist_3_joint" />

<node pkg="ur_teleop" type="ur_teleop_position_keyboard" name="ur_teleop_position_keyboard" launch-prefix="xterm -e">
	<!--<param name="robot_ns" type="string" value="robot"/>-->
</node>
<node pkg="tf" type="static_transform_publisher" name="world2rb"
        args="0 2 0 0 0 0 world robotbase_link 100" />    
</group>
  

</launch>
